




<%- include('./partials/_header.ejs') %>
<body class="home-3">
    <div class="preloader">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <%- include('./partials/_navbar.ejs') %>

    <main class="main">

        <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Kedi Sahiplendirme</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li class="active">Kedi Sahiplendirme</li>
                </ul>
            </div>
        </div>

        <div class="pet-adoption bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Tamamen Ücretsiz!</span>
                            <h2 class="site-title">Sahiplendirme </h2>
                            <p>Sosyal Pati uygulaması, ücretsiz kedi sahiplenme konusunda size yardımcı olur. Ücretsiz olarak cins kedi, yavru kedi veya istediğiniz özelliklere sahip bir kedi sahiplenebilirsiniz. Sağlam bir bağ oluşturmak ve hayatınızı paylaşacağınız bir dost edinmek için Sosyal Pati’i indirin. Sahiplenme işlemini kolaylaştıran bu uygulama ile hayalinizdeki kediye hızlıca ulaşabilirsiniz.</p>
                            <div class="heading-divider"></div><br>
                            <div class="hero-btn" data-animation="fadeInUp" data-delay=".75s" style="animation-delay: 0.75s;">
                                <a href="dog-adoption" class="theme-btn">Ücretsiz Köpek Sahiplen<i class="fas fa-arrow-right"></i></a>
                                <a  onclick="give()" style="color: #fff;"  class="theme-btn theme-btn2 ">Sahiplendirme İlanı Ver<i class="fas fa-arrow-right"></i></a>
                                
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row " >
                    <div class="allCard row" style="width: 100%; height: 95%; ">

                    </div>

                    <div class="pagination" style="width: 100%; height: 5%;">

                    </div>

                    <!--  -->


<script>
//      document.addEventListener('DOMContentLoaded', function() {
//     // Sayfa yüklendiğinde local storage'dan 'name' değerini al
   

//     // Eğer 'name' değeri varsa ve boş değilse, fetch ile '/editProfile' endpoint'ine istek gönder
   
//         fetch('/selectSharing', {
//             method: 'POST',
//             headers: {
//                 'Content-Type': 'application/json'
//             },
//             body: JSON.stringify({
               
//             })
//         })
//         .then(response => {
//             if (response.ok) {
//                 return response.json();
//             } else {
//                 // Hata durumunda
//                 console.error('Hata:', response.status, response.statusText);
//             }
//         })
//         .then(data => {
//             data.forEach(item => {
//                 const title = item.title;
//                 const desc = item.description;
//                 const name = item.name;
//                 const city = item.city;
//                 const img_name = item.img_name;
//                 showScreen(title, desc, name, city, img_name);
//             });
            
            
//         })
//         .catch(error => {
//             // Hata durumunda
//             console.error('Hata:', error);
//         });
    
// });



// function showScreen(title, desc, name, city, img_name) {
//     // Yeni bir div elementi oluştur
//     const newDiv = document.createElement('div');
//     newDiv.classList.add('col-md-6', 'col-lg-4');
    
//     // Yeni içerik oluştur
//     const newContent = `
//         <div class="pet-item wow setti fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
//             <div class="pet-img"  >
//                 <img style="width: 100%; height: 100%;" src="assets/img/sharing1/${img_name}" alt>
//             </div>
//             <div class="pet-content "> 
//                 <div class="d-flex justify-content-between align-items-center" style="flex-direction:row;">
                    
//                     <h4>${title}</h4>

//                     <div>
//                         <h6 style="font-size:0.9rem;">${name}</h6>
//                         <h6 style="font-size:0.8rem;"><i class="fas fa-map-marker-alt mr-2"></i>${city}</h6>
//                     </div>
                
//                 </div>
                
                
//                 <hr>
//                 <a class="btn btn-primary" id="cntct" style="color:#fff; width:47%;" onclick="userMessage('${name}')" >İletişime Geç</a>
//                 <a class="btn btn-success" style="color:#fff; width:47%;" onclick="detail('${title}')">Daha Fazla</a>
//             </div>
//         </div>
//     `;

    

//     // Yeni içeriği yeni div içine yerleştir
//     newDiv.innerHTML = newContent;
    
    
//     // Yeni oluşturulan div'i allCard elementine ekle
//     const allCardDiv = document.querySelector('.allCard');
//     allCardDiv.appendChild(newDiv);

    
// }




document.addEventListener('DOMContentLoaded', function() {
    const pageSize = 6; // Her sayfada gösterilecek ilan sayısı
    let currentPage = 1; // Başlangıçta mevcut sayfa numarası
    let totalPage = 0; // Toplam sayfa sayısı
    let allCards = []; // Tüm ilanları tutacak dizi

    // İlanları al ve sayfalama işlemini gerçekleştir
    fetch('/getCatHaving', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
               
            })
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Veri alınamadı');
            }
        })
        .then(data => {
            allCards = data; // Tüm ilanları sakla
            totalPage = Math.ceil(allCards.length / pageSize); // Toplam sayfa sayısını hesapla
            showPage(currentPage); // İlk sayfayı göster
        })
        .catch(error => {
            console.error('Hata:', error);
        });

    // İlanları göster ve sayfalama işlemini gerçekleştir
    function showPage(page) {
        const startIndex = (page - 1) * pageSize; // Başlangıç indeksi
        const endIndex = Math.min(startIndex + pageSize, allCards.length); // Bitiş indeksi

        const allCardDiv = document.querySelector('.allCard');
        allCardDiv.innerHTML = ''; // Önceki ilanları temizle

        for (let i = startIndex; i < endIndex; i++) {
            const card = allCards[i];
            const { title, desc, name, city, img_name, date } = card;
            const newDiv = createCard(title, desc, name, city, img_name, date);
            allCardDiv.appendChild(newDiv);
        }

        // Sayfalama düğmelerini güncelle
        updatePagination();
    }

    // İlan kartını oluştur
    function createCard(title, desc, name, city, img_name, date) {
        const newDiv = document.createElement('div');
        newDiv.classList.add('col-md-6', 'col-lg-4');

        const truncatedTitle = title.length > 20 ? title.substring(0, 20) + '...' : title;

        const newContent = `
            <div class="pet-item wow setti fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                <div class="pet-img">
                    <img style="width: 100%; height: 100%;" src="assets/img/sharing1/${img_name}" alt>
                </div>
                <div class="pet-content">
                    <div class="d-flex justify-content-between align-items-center" style="flex-direction:row;">
                        <div class="d-flex justify-content-between align-items-baseline" style="flex-direction:column;text-align:left; ">
                            <h4>${truncatedTitle}</h4>
                            <h6>${date}</h6>
                        </div>

                        <div>
                            <h6 style="font-size:0.9rem;">${name}</h6>
                            <h6 style="font-size:0.8rem;"><i class="fas fa-map-marker-alt mr-2"></i>${city}</h6>
                        </div>
                    </div>
                    <hr>
                    <a class="btn btn-primary" id="cntct" style="color:#fff; width:47%;" onclick="userMessage('${name}')">İletişime Geç</a>
                    <a class="btn btn-success" style="color:#fff; width:47%;" onclick="detail('${title}')">Daha Fazla</a>
                </div>
            </div>
        `;
        newDiv.innerHTML = newContent;
        return newDiv;
    }

    // Sayfalama düğmelerini güncelle
    function updatePagination() {
        const paginationDiv = document.querySelector('.pagination');
        paginationDiv.innerHTML = ''; // Önceki sayfalama düğmelerini temizle

        // Önceki sayfa düğmesi
        const prevButton = document.createElement('button');
        prevButton.classList.add('prev-link');
        prevButton.textContent = 'Önceki';
        prevButton.addEventListener('click', () => {
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage);
            }
        });
        paginationDiv.appendChild(prevButton);

        // Sayfa düğmeleri
        for (let i = 1; i <= totalPage; i++) {
            const pageButton = document.createElement('button');
            pageButton.classList.add('page-link');
            pageButton.textContent = i;
            pageButton.addEventListener('click', () => {
                currentPage = i;
                showPage(currentPage);
            });
            paginationDiv.appendChild(pageButton);
        }

        // Sonraki sayfa düğmesi
        const nextButton = document.createElement('button');
        nextButton.classList.add('next-link');
        nextButton.textContent = 'Sonraki';
        nextButton.addEventListener('click', () => {
            if (currentPage < totalPage) {
                currentPage++;
                showPage(currentPage);
            }
        });
        paginationDiv.appendChild(nextButton);
    }
});





</script>


<script>
    function userMessage(name) {
        const checkToken = localStorage.getItem('token');
        if(!checkToken){
            alert('Mesaj gönderebilmek için önce giriş yapmalısınız..!');
            window.location.href = '/login';
        }
if (isButtonClicked) {
    return;
}

isButtonClicked = true;


var formContent = `
   
<section class="get-in-touch">
   <h1 class="title">Özel Mesaj</h1>
   <form class="contact-form row" >
    <h5>${name}</h5>
    <hr/>
      
      <div class="form-field col-lg-12">
         <input id="desc" class="input-text js-input px-2" type="text" required>
         <label class="label" for="message">Aciklama</label>
      </div>


      <div class="form-field col-lg-12">
        <button  id="btt" class="submit-btn">Gönder</button>
      </div>

   </form>
</section>

`;

alertify.getDialog(formContent, '').set('selector', 'input[type="text"]');
isButtonClicked = false;



const submitBtn = document.getElementById('btt');

if (submitBtn) {
    submitBtn.addEventListener('click', (event) => {
        event.preventDefault(); // Sayfa yenilemeyi engelle

        let desc = document.getElementById('desc').value;
    
        let user = localStorage.getItem('name');

        console.log(name+user+desc)

        // AJAX POST isteği yap
        fetch('/setMessage', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                desc: desc,
                target: name,
                your: user
    })
        })
        .then(response => {
            if (response.ok) {
                // Başarılı yanıt durumunda
                console.log('Cevap:', response);
                alert('Mesaj gonderildi!');
                window.location.reload();
            
                document.getElementById('desc').value = '';
             
            } else {
                // Hata durumunda
                console.error('Hata:', response.status, response.statusText);
                alert('Bir hata oluştu. Lütfen tekrar deneyin.');
            }
        })
        .catch(error => {
            console.error('Hata:', error);
            alert('Bir hata oluştu. Lütfen tekrar deneyin.');
        });
    });
}



}
</script>



<script>
        function give() {
            const checkToken = localStorage.getItem('token');
        if(!checkToken){
            alert('İlan verebilmek için önce giriş yapmalısınız..!');
            window.location.href = '/login';
        }
if (isButtonClicked) {
    return;
}

isButtonClicked = true;


var formContent = `
   
<section class="get-in-touch">
   <h1 class="title">İlan Ver</h1>
   <form class="contact-form row" enctype="multipart/form-data">

      <div class="form-field col-lg-12">
         <input id="title" class="input-text js-input" type="text" required>
         <label class="label" for="name">Baslik</label>
      </div>
      
      <div class="form-field col-lg-12">
         <input id="desc" class="input-text js-input" type="text" required>
         <label class="label" for="message">Aciklama</label>
      </div>

      <div class="form-field col-lg-12">
         <select id="opti" class="input-text js-input" >
            <option value="cat-having">Kedi İlanı</option>
            <option value="dog-having">Köpek İlanı</option>
            </select>
      </div>

      <div class="form-field col-lg-12">
        <input id="file" class="input-text js-input" type="file" >
        
      </div>

      <div class="form-field col-lg-12">
        <button  id="btt" class="submit-btn">Paylaş</button>
      </div>

   </form>
</section>

`;

alertify.getDialog(formContent, '').set('selector', 'input[type="text"]');
isButtonClicked = false;



const submitBtn = document.getElementById('btt');

if (submitBtn) {
    submitBtn.addEventListener('click', () => {
        event.preventDefault(); // Sayfa yenilemeyi engelle

        const userName = localStorage.getItem('name');
        const title = document.getElementById('title').value;
        const desc = document.getElementById('desc').value;
        const opti = document.getElementById('opti').value;
        const fileInput = document.getElementById('file');

        // FormData oluştur
        const formData = new FormData();
        formData.append('title', title);
        formData.append('desc', desc);
        formData.append('opti', opti);
        formData.append('user', userName);

        if (fileInput.files.length > 0) {
            // Eğer dosya seçildiyse, FormData'ya ekle
            formData.append('file', fileInput.files[0]);
        }

        // AJAX POST isteği yap
        fetch('/setSharing', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                // Başarılı yanıt durumunda
                console.log('Cevap:', response);
                alert('İlanınız başarıyla paylaşıldı!');
                // Formu sıfırla
                document.getElementById('title').value = '';
                document.getElementById('desc').value = '';
                document.getElementById('file').value = '';
                window.location.reload();
            } else {
                // Hata durumunda
                console.error('Hata:', response.status, response.statusText);
                alert('Bir hata oluştu. Lütfen tekrar deneyin.');
            }
        })
        .catch(error => {
            console.error('Hata:', error);
            alert('Bir hata oluştu. Lütfen tekrar deneyin.');
        });
    });
}



}

</script>



<script>
function detail(value) {

    fetch('/selectSharing', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
               value:value
            })
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                // Hata durumunda
                console.error('Hata:', response.status, response.statusText);
            }
        })
        .then(data => {
            data.forEach(item => {
                const title = item.title;
                const desc = item.description;
                const img_name = item.img_name;
                
                if (isButtonClicked) {
    return;
}

isButtonClicked = true;


var formContent = `
   
<section class="get-in-touch" style="border:1px solid grey; padding:10px;">
   <h1 class="title">${title}</h1>
   <div class="d-flex justify-content-between align-items-center" style="flex-direction:column;">
    <div class="pet-img" style="width:40%;margin-bottom:25px;">
                <img style="width: 100%; height: 10%;" src="assets/img/sharing1/${img_name}" alt>
            </div>
    <p style="width:95%;" >${desc}</p>
    </div>
   
   
</section>

`;

alertify.getDialog(formContent, '').set('selector', 'input[type="text"]');
isButtonClicked = false;

            });
            
        })
        .catch(error => {
            // Hata durumunda
            console.error('Hata:', error);
        });
    






 }
</script>



                    <!--  -->
                </div>
            </div>
        </div>
        

        <div class="faq-area py-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="faq-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".25s">
                            <div class="faq-img">
                                <img src="assets/img/faq/01.jpg" alt>
                            </div>
                            <div class="faq-shape">
                                <img src="assets/img/shape/05.png" alt>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline">S.S.S</span>
                                <h2 class="site-title my-3">Sıkça <span>Sorulan </span>Sorular</h2>
                            </div>
                            <p class="about-text">Sahiplenmeye Başla!</p>
                            <div class="mt-3">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <span><i class="far fa-question"></i></span>Eş bulma özelliği nasıl çalışır?
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Eş bulma özelliği, kedi veya köpek sahiplerinin uygun eş adaylarını bulmalarına yardımcı olur. Kullanıcılar, platform üzerinde yayınlanan ilanlara göz atarak potansiyel eş adaylarını keşfedebilir ve iletişime geçebilir.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                <span><i class="far fa-question"></i></span>Eş bulma işlemleri ücretsiz midir?
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Evet, eş bulma işlemleri tamamen ücretsizdir. Platformda ilan yayınlamak, eş adaylarını araştırmak ve iletişime geçmek gibi tüm işlemler ücretsizdir.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                <span><i class="far fa-question"></i></span>Eş bulma işlemi için hangi evcil hayvanlar desteklenir?
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Eş bulma özelliği kedi ve köpekler için desteklenmektedir. Kedi sahipleri kedi eş adaylarına, köpek sahipleri ise köpek eş adaylarına yönelik ilanları araştırabilirler.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%- include('./partials/_chat.ejs') %>

    <%- include('./partials/_footer.ejs') %>