<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTO3oWlaNuGV4oaswmGsVUPYOEnl7ie1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1037107350583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umutyilmaz.SosyalPati</string>
	<key>PROJECT_ID</key>
	<string>sosyalpati-c36a3</string>
	<key>STORAGE_BUCKET</key>
	<string>sosyalpati-c36a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>En yakın veterinerleri gösterebilmemiz için konumunuza ihtiyacımız var.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>En yakın veterinerleri gösterebilmemiz için konumunuza ihtiyacımız var.</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037107350583:ios:b8a79c8485d84b5b5543b2</string>
</dict>
</plist>
